@font-face {
    font-family: "Baumans";
    src: url("../fonts/baumans.woff") format('woff');
    font-size: 18px;
	line-height: 30px;
}

body{padding-top: 50px; font-size: 17px;}

.js-offcanvas body {
	overflow-x: hidden;
}
#main{
	z-index: 1;
	position: relative;
}
ul.pricing-table,
.portafolio-bx-close,
.link-portafolio,
.profile ul li,
.profile img,
.alert,
#portafolio-thumbnails .thumbnail,
.btn-plain,
.nav-social,
.logo,
.toggle-menu,
.menu-icon,
.navbar-nav>li>a,
#toTop{
	-webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
ul{ padding: 0;}

/**********************************************/
#inicio{
	padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}
.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}
.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}
.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
.font-logo{
	font-family: 'Baumans', cursive;
 }


/*************************************************************
/***********  MENU
/*************************************************************/
.navbar {
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-default {
	background-color: #0866C6;
	border: none;
	border-bottom: 1px solid #054E96;
}
.toggle-menu{
	font-size: 3em;
	cursor: pointer;
	height: 50px;
	width: 50px;
	left: 0;
	position: relative;
	padding: 12px 10px;
}
.nav-social a:hover,
.nav-social a:focus,
.logo:hover,
.logo:focus,
.toggle-menu:hover,
.toggle-menu:focus{
	background-color: #054E96;
}
.nav-social-top{
	left: 0;
	position: relative;
	width: auto;
}
.toggle-menu, .logo{
	display: block;
}
.toggle-menu span {
	height: 5px;
	width: 30px;
	display: block;
	background: #FFF;
	margin-bottom: 5px;
	position: relative;
}
.navbar-mobile{ max-height: 50px; }
.logo{
	padding: 9px 5px;
	width: 43px;
	height: 50px;
 }
.navbar-logo {
position: absolute;
top: 0;
left: 0;
}
.nav-social{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	height: auto !important;
	display: block;
}
.nav-social .nav-menu,
.nav-social  .nav-logo{
	float: left;
}
.social{
	float: right;
}
.social a{
	padding: 3px 5px;
	width: 50px;
	height: 50px;
	float: left;
}
.social a i{
	color: #fff;
	background-image: url(../images/contacto-red-sociales.png);
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
	display: block;
}
.correo{
	background-position: 0 3px;
}
.skype{
	background-position: 0 -40px;
}
.twitter{
	background-position: 0 -82px;
}
.tel{
	background-position: 0 -124px;
}

.main-container,
#main{
	min-height: 600px;
}
.menu-offcanvas .navbar-nav>li>a,
.menu-offcanvas .navbar-brand:hover,
.menu-offcanvas .navbar-brand:focus,
.menu-offcanvas .navbar-brand {
	color: #fff;
}
.menu-offcanvas .navbar-nav>li>a:hover,
.menu-offcanvas .navbar-nav>li>a:focus,
.menu-offcanvas .navbar-nav>.active>a,
.menu-offcanvas .navbar-nav>.active>a:hover,
.menu-offcanvas .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #054E96;
}
/*@media (max-width: 321px) {
	.social{
		float: left !important;
	}
	.nav-logo{
		margin-right: 14%;
	}
}*/
/*************************************************************
/***********  MENU MOVIL
/*************************************************************/
.header-movil{
	position: relative;
	height: 400px;
}
.bg-header-movil{
	position: absolute;
	height: 100%;
	width: 100%;
}
.header-movil div{
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 90%;
	font-size: 22px;
	line-height: 30px;
}
.header-movil .title_1{
	top: 10%;
}
.header-movil .title_2{
	top: 15%;
}
.header-movil .subtitle_1{
	top: 20%;
}

/*************************************************************
/***********  Titulo SECCIONES
/*************************************************************/
h2{
	margin-bottom: 60px;
    padding: 60px 0 30px 0;
    font-size: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-weight: bold;
    text-transform: uppercase;
}

.thumbnail {
	border: none;
	border-radius: 0;
}
#portafolio{
	background: #f8f8f8;
    padding-bottom: 60px;
}

#portafolio-thumbnails article{
	box-shadow: 0 1px 10px #333,0 0 0 #333;
	border: 1px solid #333;
	margin-bottom: 20px;
}
#portafolio-thumbnails article:hover{
	box-shadow: 0 1px 20px #333,0 0 0 #333;
}
#portafolio-thumbnails .thumbnail:hover,#portafolio-thumbnails  .thumbnail:focus{
	text-decoration: none;
}
#portafolio-thumbnails .thumbnail h4{
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 0;
	color: #0866C6;
}
#portafolio-thumbnails .thumbnail:hover h4{
	color: #054E96;
}
#portafolio-thumbnails .thumbnail .proyecto{
	font-size: 1.8rem;
	font-weight: bold;
}
#portafolio-thumbnails .thumbnail .fecha{
	font-size: 1.5rem;
}
#portafolio-thumbnails .thumbnail .link{
	font-size: 1.5rem;
	font-weight: bold;
	color: #054E96;
}
/*************************************************************
/***********  PORTAFOLIO
/*************************************************************/
#portafolio-thumbnails{
	list-style: none;
	margin: 0;
	padding: 0;
}
.thumbnail{
	padding: 0;
	margin: 0;
}
.link-portafolio{
	background-image: url(../images/links.png);
	background-repeat: no-repeat;
	padding-left: 20px;
}
.link-portafolio:hover{
	background-position: 0 -19px;
}
#portafolio-bx{
	margin-bottom: 30px;
}
.portafolio-bx-close {
	float: right;
	padding: 2px 10px;
	font-weight: bold;
}
.portafolio-bx-close:hover {
	background: #0866C6;
	color: #fff;
	text-decoration: none;
}
.carousel-inner {
	border: 2px solid #333;
}
.carousel-control{
	padding-top: 78px;
	font-size: 65px;
}

/*************************************************************
/***********  CONTACTO
/*************************************************************/
#contacto{
	margin-bottom: 40px;
}
form.contac{
	margin-bottom: 20px;
}
form.contac textarea, form.contac input{
	font-size: 20px;
	border: 4px solid #0866c8;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
	outline: medium none;
}
form.contac textarea:hover, form.contac input:hover{
	border: 4px solid #05529e;
}
form.contac input{
	height: 50px;
}
.btn-plain:hover{
	background-color: #05529e;
}
.btn-plain{
	background-color: #0866c8;
	height: 42px;
	width: 120px;
	border: none;
	color: #fff;
	font-size: 20px;
}
.profile{
	text-align: center;
}
.profile ul{
	list-style: none;
}
.profile .userinfo{
	margin-top: 15px;
}
.profile ul li{
	display: block;
	padding: 5px;
	text-align: left;
	line-height: normal;
	margin-bottom: 5px;
	background-color: #0866c8;
}
.profile ul li:hover{
	background-color:#05529e;
	cursor: pointer;
}
.profile ul li a{
	color: #fff;
	font-size: 20px;
}
.profile ul li a:hover{
	color: #fff;
	text-decoration: none;
}
.profile ul li a .fa{
	margin: 0 5px;
}

.profile img{
	background-color: #0866c8;
	padding: 8px;
}
.profile img:hover{
	background-color: #05529e;
	cursor: pointer;
}
.footer-contact{display: inline-block; margin:0;}
.footer-contact li{
	list-style: none;
	float: left;
	margin-left: 5px;
}
#flake{ z-index: 9999}
.navidad #nieve{
	background: url(../images/nieve.png) repeat-x center center rgba(0, 0, 0, 0);
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 9999;
	top: -15px;
	left: 0;
}
/*************************************************************
/***********  FOOTER
/*************************************************************/
footer{
	padding: 30px;
	background-color: #333;
	color: #fff;
}
#toTop {
	width: 75px;
    border: 1px solid #054E96;
    background-color: #0866C8;
	color: #FFF;
	font-size: 16px;
    text-align:center;
    padding:5px;
    position:fixed; /* this is the magic */
    bottom:10px; /* together with this to put the div at the bottom*/
    right:10px;
    cursor:pointer;
    display:none;
    -moz-opacity: 0.50;
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);

}
#toTop:hover, #toTop:focus{
	background-color: #054E96;
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
/* == dispositivos mobiles == */
@media (min-width: 1200px){
	body{padding-top: 60px;}
	.desktop{
		right: 18%;
	}
	.tablet{
		right: 10%;
	}
	.smartphone{
		right: 7%;
	}
	.animate-in .textFromLeft{
		left: 8%;
	}
	.fromBottom{
		right: 6%;
	}
	.mini-site{
		right: 16%;
	}
	.animate-in .textFromRight{
		left: 5%;
	}
	.navbar-brand {
		font-size: 25px;
		padding: 20px 20px;
	}
	.navbar-nav>li>a {
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 20px;
	}
}
@media (max-width: 993px) {
	body{padding-top: 50px;}
	.fa{
		width: 20px;
		margin-right: 5px;
		margin-left: 5px;
		display: inline-block !important;
		font-size: 20px;
	}
	.navbar-brand{
		font-size: 20px;
	}
	.navbar-header {
		float: left;
		width: 100%;
	}
	.navbar-nav {
		margin:0;
		float: left;
	    width: 100%;
	}
	.navbar-nav>li>a {
		padding: 10px;
		font-weight: bold;
		font-size: 16px;
	}
	.navbar-nav>li {
		border-bottom: 1px solid #0866C6;
		width: 100%;
	}
	.navbar-nav>li.active:after {
		z-index: 50;
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		right: -0.031em;
		margin-top: -0.625em;
		border-top: 0.625em rgba(0, 0, 0, 0) solid;
		border-bottom: 0.625em rgba(0, 0, 0, 0) solid;
		border-right: 0.625em #FFF solid;
	}
	.js-offcanvas #navbar-movil,
	.js-offcanvas #main {
		/*-webkit-transform: translate(240px, 0);
		-moz-transform: translate(240px, 0);
		-ms-transform: translate(240px, 0);
		-o-transform: translate(240px, 0);
		transform: translate(240px, 0);*/
		left: 240px;
	}
	.js-offcanvas #navbar-movil {
		right: -240px;
	}
	.js-offcanvas .main-container {
		opacity: 0.5;
	}

	.js-offcanvas .main-container,
	.menu-offcanvas,
	#navbar-movil,
	#main{
		-webkit-transition: all .5s ease;
	    -moz-transition: all .5s ease;
	    -o-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	    transition: all .5s ease;
	}

	.menu-offcanvas {
		background-color: #054E96;
		/*position: absolute;*/
		top: 0;
		width: 240px;
		left: -240px;
		height: 100%;
		overflow:hidden;
	   	float:left;
	   	z-index: 999;
	}
	#navbar-movil,
	#main {
		/*-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);*/
		left: 0;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.js-offcanvas .menu-offcanvas {
		left: 0;
		/*-webkit-transform: translate(-240px, 0);
		-moz-transform: translate(-240px, 0);
		-ms-transform: translate(-240px, 0);
		-o-transform: translate(-240px, 0);
		transform: translate(-240px, 0);*/
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.menu-offcanvas .navbar-header{
		border-bottom: 1px solid #0866C6;
		height: 50px;
	}
	.menu-offcanvas .navbar-nav>li>a:hover,
	.menu-offcanvas .navbar-nav>li>a:focus,
	.menu-offcanvas .navbar-nav>.active>a,
	.menu-offcanvas .navbar-nav>.active>a:hover,
	.menu-offcanvas .navbar-nav>.active>a:focus {
		background-color: #0866C6;
	}
}
@media (max-width: 768px){
	.header-movil{
		height: 335px;
	}
	.navidad #nieve{ display:none;}
	#toTop {
		width: 55px;
	}
}
@media (max-width: 450px){
	.menu-icon{
		font-size: 1.5em;
	}
	.footer-contact li.footer-direction{
		float: none;
		margin-left: 0;
	}
}
@media (max-width: 300px){
	.pricing-table .header-bottom {
		min-height: 70px;
	}
	.pricing-table .precio {
		top: 75px;
	}
	.header-movil {
		height: 465px;
	}
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}
